<!DOCTYPE html>
<html lang="en-us">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/dashboard.css') }}">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.20/datatables.min.css"/>

    <title>Woolgatherer Dashboard</title>
  </head>
  <body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.20/datatables.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', path='/dashboard.js') }}"></script>

    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col mr-0" href="#">Woolgatherer Dashboard</a>
    </nav>

    <div class="container-fluid">
      <main role="main" class="col ml-sm-auto px-4">
        <h2 id="avg-ratings">Average Ratings</h2>
        <div class="container-fluid">
        {% for type, ratings in ratings_by_type.items() %}
        <h3 id="avg-{{type}}-rating">{{type.capitalize()}}</h3>
        <table id="avg-{{type}}-table" name="avg-rating-table" class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Model Name</th>
              <th scope="col">Average Rating</th>
              <th scope="col">Feedback Count</th>
            </tr>
          </thead>
          <tbody>
            {% for rating in ratings %}
            <tr>
              <td>{{rating.model_name}}</td>
              <td>{{rating.avg_rating}}</td>
              <td>{{rating.feedback_count}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endfor %}
        </div>

        <h2 id="unique-users">Unique Users</h2>
        <caption>Number of users with fewer than <i>n</i> suggestions</caption>
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Num Users</th>
              <th scope="col">Suggestion Count</th>
            </tr>
          </thead>
          <tbody>
            {% for count, num_users in suggestion_counts.items() %}
            <tr>
              <td>{{num_users}}</td>
              <td>&le; {{count}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>


        <h2 id="edits">Edited Suggestions</h2>
        <table id="suggestions-table" class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col" style="width: 5%">Suggestion</th>
              <th scope="col" style="width: 15%">Model Name</th>
              <th scope="col" style="width: 70%">Diff</th>
            </tr>
          </thead>
          <tbody>
            {% for edit in edits %}
            <tr>
              <th scope="row"><span class="suggestion-number">{{loop.index}}</span></th>
              <td scope="row">{{edit.model_name}}</td>
              <td>
                {% for type, word in edit.diff %}<span class="{{type}}">{{word}} </span>{% endfor %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </main>
    </div>

  </body>
</html>
