{% set rouge_types = ('rouge-4', 'rouge-l', 'rouge-w', 'user') %}
<h2>Edited Suggestions</h2>
<table id="suggestions-table" class="table table-striped text-center invisible" style="width:100%">
  <thead class="thead-dark">
    <tr>
      <th rowspan="2" class="align-middle" scope="col">#</th>
      <th rowspan="2" class="align-middle" scope="col">PID</th>
      <th rowspan="2" class="align-top" scope="col">Model</th>
      <th colspan="3" class="align-top" scope="col">#Sentences</th>
      <th colspan="12" class="align-top" scope="col" id="rouge">Rouge/User</th>
    </tr>
    <tr>
      <th class="align-top" scope="col">User</th>
      <th class="align-top" scope="col">Model</th>
      <th class="align-top" scope="col">Overlap</th>
      {% for metric in ('precision', 'recall', 'f1') %}
      <th class="align-top rouge {{metric}}" scope="col">4</th>
      <th class="align-top rouge {{metric}}" scope="col">L</th>
      <th class="align-top rouge {{metric}}" scope="col">W</th>
      <th class="align-top rouge {{metric}}" scope="col">U</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for edit in edits %}
    <tr>
      <th scope="row">{{loop.index}}</span></th>
      <td scope="row">{{edit.game_pid}}</td>
      <td scope="row">{{edit.model_name}}</td>
      <td scope="row">{{edit.finalized_sentences}}</td>
      <td scope="row">{{edit.generated_sentences}}</td>
      <td scope="row">{{edit.overlaps}}</td>
      {% for metric in ('p', 'r', 'f') %}
      {% for rouge_type in rouge_types %}
      <td scope="row">
          {{"{:.2f}".format(edit[rouge_type][metric])}}
      </td>
      {% endfor %}
      {% endfor %}
    </tr>
    <div id="accordion{{loop.index}}" style="display: none">
      <div class="card">
        <div class="card-header">
          <div class="btn-toolbar" role="toolbar">
            <div class="btn-group btn-group-toggle mr-2" data-toggle="buttons">
              <label class="btn btn-secondary active">
                <input type="radio" name="options" id="showDiff" autocomplete="off" data-toggle="collapse" data-target="#diff{{loop.index}}" checked>
                Diff
              </label>
              {% if edit.comments is not none %}
              <label class="btn btn-secondary">
                <input type="radio" name="options" id="showComments" autocomplete="off" data-toggle="collapse" data-target="#comments{{loop.index}}">
                Comments
              </label>
              {% endif %}
            </div>
            <ul class="list-group list-group-horizontal align-middle">
              <button class="list-group-item btn-sm py-0 px-2" disabled>Fluency: {{edit.fluency}}</button>
              <button class="list-group-item btn-sm py-0 px-2" disabled>Relevance: {{edit.relevance}}</button>
              <button class="list-group-item btn-sm py-0 px-2" disabled>Coherence: {{edit.coherence}}</button>
              <button class="list-group-item btn-sm py-0 px-2" disabled>Likeability: {{edit.likeability}}</button>
            </ul>
          </div>
        </div>
        <div id="diff{{loop.index}}" class="collapse show" data-parent="#accordion{{loop.index}}">
          <div class="card-body">
            <div style="max-height: 17.5em; overflow: scroll">
            {% for type, word in edit.diff %}<span class="{{type}}">{{word}}</span>{% endfor %}
            </div>
          </div>
        </div>
        {% if edit.comments is not none %}
        <div id="comments{{loop.index}}" class="collapse" data-parent="#accordion{{loop.index}}">
          <div class="card-body border-top">
            {{edit.comments}}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </tbody>
</table>
