{% import "utils.html" as utils %}
{% set metric_types = ('rouge-4', 'rouge-l', 'rouge-w', 'user') %}

{% if "user_edits" in scopes %}
<h2>Edited Suggestions</h2>
{% else %}
<h2>Sample Edited Suggestions</h2>
{% endif %}
<table id="suggestions-table" data-order-classes="true" class="table table-striped text-center invisible" style="width:100%">
  <thead class="thead-dark">
    <tr>
      <th rowspan="2" class="align-middle" scope="col" data-order-data="0" data-type="num" data-searchable="false">#</th>
      <th rowspan="2" class="align-middle" scope="col" data-order-data="1">PID</th>
      <th rowspan="2" class="align-top" scope="col" data-order-data="[[0, 2]]" data-searchable="true">Model</th>
      <th colspan="12" class="align-top" scope="col" id="metric">Metric</th>
    </tr>
    <tr>
      {% set ns=namespace(idx=3, visible="true") %}
      {% for metric in ('precision', 'recall', 'f1') %}
      {% for metric_type in metric_types %}
      <th class="align-top metric {{metric}} text-capitalize" scope="col" data-order-data="{{ns.idx}}" data-type="num" data-visible="{{ns.visible}}"><abbr title={{metric_type}} data-toggle="tooltip" data-placement="top">{{utils.abbreviate(metric_type)}}</abbr></th>
      {% set ns.idx=ns.idx+1 %}
      {% endfor %}
      {% set ns.visible="false" %}
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for edit in edits %}
    <tr>
      <th scope="row">{{loop.index}}</span></th>
      <td scope="row">{{edit.game_pid}}</td>
      <td scope="row">{{edit.model_name}}</td>
      {% for metric in ('p', 'r', 'f') %}
      {% for metric_type in metric_types %}
      <td scope="row">
          {{"{:.2f}".format(edit[metric_type][metric])}}
      </td>
      {% endfor %}
      {% endfor %}
    </tr>
    <div id="accordion{{loop.index}}" style="display: none">
      <div class="card">
        <div class="card-header">
          <div class="btn-toolbar" role="toolbar">
            <div class="btn-group btn-group-toggle mr-2" data-toggle="buttons">
              <label class="btn btn-secondary active">
                <input type="radio" name="options" id="showDiff" autocomplete="off" data-toggle="collapse" data-target="#diff{{loop.index}}" checked>
                Diff
              </label>
              {% if edit.comments is not none %}
              <label class="btn btn-secondary">
                <input type="radio" name="options" id="showComments" autocomplete="off" data-toggle="collapse" data-target="#comments{{loop.index}}">
                Comments
              </label>
              {% endif %}
            </div>
            <ul class="list-group list-group-horizontal align-middle">
              <button class="list-group-item btn-sm py-0 px-2" disabled>Fluency: {{edit.fluency}}</button>
              <button class="list-group-item btn-sm py-0 px-2" disabled>Relevance: {{edit.relevance}}</button>
              <button class="list-group-item btn-sm py-0 px-2" disabled>Coherence: {{edit.coherence}}</button>
              <button class="list-group-item btn-sm py-0 px-2" disabled>Likeability: {{edit.likeability}}</button>
            </ul>
          </div>
        </div>
        <div id="diff{{loop.index}}" class="collapse show" data-parent="#accordion{{loop.index}}">
          <div class="card-body">
            <div style="max-height: 17.5em; overflow: scroll">
            {% for type, word in edit.diff %}<span class="{{type}}">{{word}}</span>{% endfor %}
            </div>
          </div>
        </div>
        {% if edit.comments is not none %}
        <div id="comments{{loop.index}}" class="collapse" data-parent="#accordion{{loop.index}}">
          <div class="card-body border-top">
            {{edit.comments}}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </tbody>
</table>
