<h2>Export Judgement Contexts</h2>
<div class="d-flex flex-row justify-content-center">
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Limit per Model</span>
    </div>
    <input id="judgementCount" type="number" value="0" style="text-align:right; width:6em">
    <div class="input-group-append">
      <button id="judgementCSV" type="button" class="judgements btn btn-secondary" title="Generate judgement csv file">
        <span>CSV</span>
      </button>
      <button id="judgementJSON" type="button" class="judgements btn btn-secondary" title="Generate judgement json file">
        <span>JSON</span>
      </button>
    </div>
  </div>
</div>
