{% set page = "dashboard" %}

<!DOCTYPE html>
<html lang="en-us">
  <head>
    {% include "headers.html" %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.22/datatables.min.css"/>
  </head>
  <body>
    {% include "scripts.html" %}
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', path='/canvas2svg.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', path='/dashboard.js') }}"></script>

    {% include "navbar.html" %}

    <main role="main" class="container">
      <section id="ratings" class="mb-2">
        {% include "dashboard/ratings.html" %}
      </section>

      <section id="correlations" class="mb-2">
        {% include "dashboard/correlations.html" %}
      </section>

      <section id="unique-users">
        {% include "dashboard/users.html" %}
      </section>

      <section id="histograms">
        {% include "dashboard/histograms.html" %}
      </section>

      <!-- Hide data exports until auth layer is implemented
      <section id="data-exports">
        {% include "dashboard/exports.html" %}
      </section>
      -->

      <section id="edits">
        {% include "dashboard/edits.html" %}
      </section>
    </main>
  </body>
</html>
